<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.realtek.RtkOTA2</key>
		<string>profile_RtkOTA2</string>
	</dict>
	<key>signingCertificate</key>
	<string>6A1260913AB2274296DA40F1A2BD1DCEDD9D66AD</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>TRX2TKW265</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
