<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929736278675-v3ambn7c09fj3u5sojq86p8easaamj45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929736278675-v3ambn7c09fj3u5sojq86p8easaamj45</string>
	<key>API_KEY</key>
	<string>AIzaSyA8unoz9mzbjAzul1nR4wptIPhXmrGrZDc</string>
	<key>GCM_SENDER_ID</key>
	<string>929736278675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ochsner.inhalertrack</string>
	<key>PROJECT_ID</key>
	<string>inhalertrackertest</string>
	<key>STORAGE_BUCKET</key>
	<string>inhalertrackertest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929736278675:ios:5919e8cd3465585f1cc366</string>
</dict>
</plist>