<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914267242129-o2kis8tkq1eforctp1hs2cgj172a04ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914267242129-o2kis8tkq1eforctp1hs2cgj172a04ge</string>
	<key>API_KEY</key>
	<string>AIzaSyA-AjVModw46o1jsTExQD4KMzVhC8WS4Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>914267242129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ochsner.inhalertrack</string>
	<key>PROJECT_ID</key>
	<string>ochsner-inhaler-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ochsner-inhaler-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914267242129:ios:25c0f316d6f907f2d0c930</string>
</dict>
</plist>